.button {
    min-width: 48px;
    padding: 15px 14px;
    margin-top: 8px;
    margin-right: 8px;
    background: #f2f4ff;
    border: 0px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    color: #4661e6;
}

.button:hover {
    color: #4661e6;
    background: #cfd7ff;
}

.active,
.button:active {
    background: #4661e6;
    color: #ffffff;
}
