.no-feedback {
    width: auto;
    height: auto;
    padding: 111px 209px 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
}

.no-feedback h3 {
    margin-top: 53px;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.333333px;

    color: #3a4374;
}

.no-feedback p {
    margin-bottom: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;

    color: #647196;
}
